QPushButton {
		   background-color: rgb(226, 232, 237);
		   border-style: outset;
		   border-width: 1px;
		   border-radius: 10px;
		   border-color: gray;
		   font: bold 14px;
		   min-width: 10em;
		   padding: 6px;
		   }
		   
QPushButton:hover {
    background-color: rgb(255, 232, 237);
}
QPushButton:pressed {
    background-color: rgb(226, 232, 255);     
}